.main {
    display: flex;
    flex-wrap: wrap;
    }
      
.title{
     text-align: center;
   } 
  
  @media screen and (max-width: 549px) {
    .logo {
    height: 48px;
    margin-right: 0.5em;
    }
    .title {
    text-align: center;
    font-size: 2em;
    vertical-align: bottom;
    }
  }
  
  @media screen and (min-width:300px) and (max-width:800px){
  body {
    align-content: center;
    }
  .projects{
    display: flex;
    align-content: center;
    }
  .title{
    text-align: center;
  }
  .work-container{
    display: flex;
    align-content: center;
    margin-left: 10em;
    }
  }
  
  @media screen and (min-width:900px){
    .work-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    vertical-align: text-bottom;
    }
  }
  